fastapi==0.115.12
uvicorn==0.34.0
websockets==15.0.1
PyJWT==2.10.1
torch==2.6.0
torchvision==0.21.0
Pillow==11.1.0
opencv-python==4.11.0.86
numpy==2.1.1
SpeechRecognition==3.14.2
pydub==0.25.1
ultralytics==8.3.99
python-dotenv==1.0.1
